body {
	background-color: rgb(230, 182, 198);
}

.rg2 {
	position: absolute;
	top: 50px;
	left: 10%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(-5deg);
}

.viv1 {
	position: absolute;
	top: 70px;
	left: 33%;
	max-width: 200px;
	transform: rotate(7deg);
}

.viv2 {
	position: absolute;
	top: 70px;
	left: 33%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(7deg);
}

.viv1:hover {
	visibility: hidden;
	max-width: 500px;
}

.court1 {
	position: absolute;
	top: 50px;
	right: 33%;
	max-width: 200px;
	transform: rotate(-3deg);
}

.court2 {
	position: absolute;
	top: 50px;
	right: 33%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(-3deg);
}

.court1:hover {
	visibility: hidden;
	max-width: 500px;
}

.sr1 {
	position:absolute;
	top: 77px;
	right: 10%;
	max-width: 200px;
	transform: rotate(5deg);
}

.sr2 {
	position: absolute;
	top: 77px;
	right: 10%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(5deg);
}

.sr1:hover {
	visibility: hidden;
	max-width: 500px;
}

.heading {
	padding-top: 12%;
	max-width: 500px;
	transform: rotate(-3deg);
	margin-bottom: 0px;
}

p {
	margin: 0px;
	font-family: 'Arial';
	font-weight: bold;
}

.boxContainer {
	max-width: 550px;
	padding-top: 70px;
}

.boxText {
	font-size: 28px;
	outline-style: dashed;
	outline-color: black;
	padding: 15px;
	text-indent: 40px;
	max-width: 550px;
}

.col1 {
	max-width: 600px;
}

.img1 {
	max-width: 400px;
	height: auto;
	transform: rotate(-5deg);
	opacity: 90%;
}

.img8 {
	max-width: 450px;
	transform: rotate(6deg);
}

.section1, .section3 {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		margin-top: 0px;
		padding-left: 30px;
}

.quote {
	font-size: 24px;
	padding-top: 5%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.img2 {
	max-width: 500px;
	transform: rotate(-4deg);
}

.img3 {
	max-width: 500px;
	padding-bottom: 35px;
	transform: rotate(3deg);
}

.section2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	padding-top: 5%;
}

.p2 {
	max-width: 500px;
}

.section3 {
	padding-top: 30px;
}

.img5 {
	max-width: 500px;
	transform: rotate(-3deg);
}

.img6 {
	max-width: 500px;
	transform: rotate(4deg);
}

.img7 {
	transform: rotate(-10deg);
}

.section4 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

@media only screen and (max-width:  800px) {
	.section1, .section3 {
		display: flex;
		flex-direction: column;
		padding: 10px;
		padding-top: 0px;
		justify-content: center;
		align-items: center;
	}

	.col1, .boxContainer {
		width: 100%;
	}

	.boxContainer {
		padding-top: 0px;
	}

	.boxText {
		font-size: 22px;
		max-width: 400px;
	}

	.heading {
		padding-top: 100px;
	}

	.section2 {
		flex-direction: column;
		justify-content: center;
		padding-left: 30px;
	}

	.img2, .img3, .img4 {
		max-width: 400px;
	}

	.img4 {
		padding-left: 20px;
	}

	.img7 {
		max-width: 200px;
	}

	.section4 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

}