body {
	background-color: rgb(230, 182, 198);
}

.rg2 {
	position: absolute;
	top: 50px;
	left: 10%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(-5deg);
}

.rg1 {
	position: absolute;
	top: 50px;
	left: 10%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(-5deg);
}

.rg1:hover {
	visibility: hidden;
	max-width: 500px;
}

.viv1 {
	position: absolute;
	top: 70px;
	left: 33%;
	max-width: 200px;
	transform: rotate(7deg);
}

.viv2 {
	position: absolute;
	top: 70px;
	left: 33%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(7deg);
}

.viv1:hover {
	visibility: hidden;
	max-width: 500px;
}

.court1 {
	position: absolute;
	top: 50px;
	right: 33%;
	max-width: 200px;
	transform: rotate(-3deg);
}

.court2 {
	position: absolute;
	top: 50px;
	right: 33%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(-3deg);
}

.court1:hover {
	visibility: hidden;
	max-width: 500px;
}

.sr2 {
	position: absolute;
	top: 77px;
	right: 10%;
	max-width: 200px;
	visibility: visible;
	transform: rotate(5deg);
}

.heading {
	margin-top: 15%;
	max-width: 500px;
	transform: rotate(-2deg);
	margin-bottom: 0px;
	margin-left: 20px;
}

.p1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 24px;
	max-width: 460px;
	text-align: center;
	padding-left: 80px;
}

.img1 {
	max-width: 400px;
	transform: rotate(3deg);
}

.section1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.img2 {
	max-width: 400px;
	transform: rotate(4deg);
}

.boxText {
	font-size: 26px;
	outline-style: dashed;
	outline-color: black;
	padding: 15px;
	text-indent: 40px;
	max-width: 500px;
	font-family: arial;
	font-weight: bold;
}

.section2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.p2 {
	font-size: 24px;
	font-family: 'Source Code Pro', monospace;
	padding-top: 5%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 50px;
}

@media only screen and (max-width:  800px) {
	.heading {
		padding-top: 100px;
		max-width: 425px;
	}

	.p1 {
		padding: 0px;
	}

	.section1 {
		flex-direction: column;
		align-items: center;
	}
}

