h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 300%;
}

h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 112, 84);
}

a, ul, ol {
    color: rgb(255, 255, 255);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    padding-left: 100px;
}

body {
    background-color: #acd4a1;
}

.column {
    float: left;
    width: 33.33%;
}


.row:after {
    content:"";
    display:table;
    clear:both;
}

img {
    padding-top: 20px;
    padding-left: 115px;
    padding-bottom: 20px;
}


