body {
        background: url("../assets/images/IMGBK.jpg") black;
        background-color: black;
        color: white;
        font-family: arial;
        font-size: 30px;
        background-size: 100%;
        background-position: center;
        background-blend-mode: lighten;
}

a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.title {
	padding-top: 300px;
}