body {
        background-color:  black;
        color:  white;
        font-family: arial;
}

a {
        color:  white;
        font-family: arial;
        font-size: 30px;
        text-decoration: none;
}

h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        background-color: #1671F9;
}

img {
        max-width: 20%;
}

.topic {
        padding-top: 20px;
        padding-bottom: 10px;
}

.pics {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 10px;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
}

.nav {
        display: flex;
        flex-direction: row;
        grid-gap: 20px;
}

.page {
        padding: 30px;
        text-align: justify-all;
        font-weight: bold;
}

.howto:hover {
        background-color: #E2699F;
}

.products:hover {
        background-color: #B45BEB;
}

.photos {
        background-color: #1671F9;
}