body {
        background-color: black;
        color:  white;
        font-family: arial;
}

a {
        color:  white;
        font-family: arial;
        font-size: 30px;
        text-decoration: none;
}

h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        /*background-color: #B45BEB;*/
}

h2 {
        font-size: 25px;
        padding-left: 5px;
        padding-right: 10px;
        max-width: 250px;
}

img {
        max-height: 200px;
        padding-bottom: 10px;
}

img:hover {
        opacity: 50%;
}

.wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 75px;
}

.section {
        display:  flex;
        align-items: flex-start;
        justify-content: space-between;
}

.nav {
        display: flex;
        flex-direction: row;
        grid-gap: 20px;
}

.topic {
        padding-top: 20px;
        padding-bottom: 20px;
}

.page {
        padding: 30px;
        text-align: justify-all;
        font-weight: bold;
}

.howto:hover {
        background-color: #E2699F;
}

.products {
        background-color: #B45BEB;
}

.photos:hover {
        background-color: #1671F9;
}