body {
	background-color: #0057FF;
}

.mytitle {
	color: white;
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.images {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*margin: 20px;*/
}

.days {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	grid-gap: 115px;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*padding-top: 10px;*/
}

.faces {
	max-height: 475px;
	margin-right: 40px;
	padding-bottom: 60px;
}

.data {
	max-height: 500px;
}

a {
	text-decoration: underline;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

@media only screen and (max-width:  800px) {
	.days {
		grid-gap: 50px;
	}

	.faces {
		margin-right: 10px;
		max-height: 300px;
	}

	.data {
		max-width: 400px;
	}

	a {
		font-size: 14px;
	}

	.images {
		padding-top: 10vh;
	}
}