body {
	background-color: #0057FF;
	color: white;
	font-family: 'Roboto Slab', serif;
	}

h1 {
	font-weight: lighter;
	font-size: 50px;
	padding-left: 50px;
}

h2 {
	color: white;
	font-weight: lighter;
	padding-left: 50px;
	margin: 0;
	padding-top: 20px;
	font-size: 28px;
}


.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 50px;
}

.social {
	font-size: 24px;
}

.pink {
	padding-left: 80px;
}

.blue {
	padding-left: 45px;
}

.orange {
	padding-left: 80px;
}

.yellow {
	padding-left: 58px;
}

.green {
	padding-left: 105px;
}

p {
	font-weight: lighter;
	padding-left: 20px;
	font-size: 36px;
}