body {
	font-family: Garamond;
	background-color: rgb(56, 77, 97);
	color: rgb(255, 248, 189);
	font-size: 20px;
}

img {
	max-height: 400px;
}

h1 {
	font-size: 40px;
	padding-left: 12px;
}

h2 {
	font-size: 35px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgb(18, 41, 64);
}

p {
	margin: 0;
	padding-bottom: 20px;
	padding-top: 10px;
}

.list {
	padding-bottom: 20px;
	padding-top: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	grid-gap: 20px;
	align-items: flex-start;
	padding-bottom: 20px;
}

.title {
	background-color: rgb(18, 41, 64);
	max-width: 380px;
}

.text {
	font-size: 24px;
}

.button {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.button-image {
	max-width: 200px;
}