body {
	font-family: Garamond;
	background-color: rgb(56, 77, 97);
	color: rgb(255, 248, 189);
	font-size: 20px;
	padding: 30px;
}

img {
	max-height: 400px;
}

h1 {
	font-size: 40px;
	padding-left: 12px;
}

h2 {
	font-size: 40px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

p {
	margin: 0;
	padding-bottom: 20px;
	padding-top: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.img1 {
	max-width: 250px;
	max-height: 250px;
	border-radius: 125px;
}

.p1 {
	max-width: 1000px;
}

.moviePoster {
	border-radius: 10px;
	max-width: 250px;
}

.list {
	padding-bottom: 20px;
	padding-top: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	grid-gap: 20px;
	align-items: flex-start;
	padding-bottom: 20px;
}

.title {
	max-width: 380px;
}

.text {
	max-width: 1000px;
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.button-image {
	max-width: 200px;
	padding: 0;
}