body {
	font-family: Garamond;
	background-color: rgb(56, 77, 97);
	color: rgb(255, 248, 189);
	font-size: 20px;
	padding: 30px;
}

img {
	max-height: 400px;
}

h1 {
	font-family: 'Zen Antique', serif;
	font-size: 44px;
	padding-left: 12px;
	font-weight: lighter;
}

h2 {
	font-family: 'Zen Antique', serif;
	font-size: 40px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 12px;
	font-weight: lighter;
}

p {
	margin: 0;
	padding-bottom: 20px;
	padding-top: 10px;
}

.img1 {
	max-width: 250px;
	max-height: 250px;
	border-radius: 125px;
}

.p1 {
	max-width: 1000px;
}

.moviePoster {
	border-radius: 10px;
	max-width: 250px;
}

.list {
	padding-bottom: 20px;
	padding-top: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	grid-gap: 20px;
	align-items: center;
	justify-content: center;
	padding-bottom: 80px;
	max-width: 1200px;
}

.text {
	max-width: 1000px;
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 0px;
}

.button-image {
	max-width: 200px;
	padding: 0;
}

.col1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img2 {
	max-width: 200px;
	border-radius: 100px;
}

.castName {
	text-align: center;
	font-size: 22px;
}

.grid {
	display: flex;
	flex-direction: row;
	justify-content: center;
	grid-gap: 60px;
}

.music {
	margin-top: 30px;
	padding-bottom: 0px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}